.container {
    width: 500px;
    font-size: 0.9rem;
}

header{
    text-align: center;
}

.menu-top {
    text-align: center; 
    padding-left: 100px;
}

.menu-top, .col, .col a, section {
    display: block;   
}

header img {
    width: 400px;
    display: block;
    padding-left: 80px;
}

.slideshow-container, .dot {
    display: none;
}

h1 {
    font-size: 30px;
    padding: 0;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    padding: 0;
}

.info_img {
    display: none;
}

.info_description {
    font-size: 0.9rem;
    padding-top: 10px;
}

form .row {
    display: inline-block;
}

.row, .row input {
    font-size: 0.9em;
    display: inline-block;
}

.catalog > .row:nth-child(1) {width: 50%; margin: 0; vertical-align: top;}

.catalog > .row:nth-child(2) {width: 45%; padding: 0; margin: 0;}

.catalog > .row:nth-child(3) {width: 50%; font-size: 0.9rem; padding-left: 0;}

.catalog > .row:nth-child(4) {width: 45%; font-size: 0.9rem; text-align: left;}

.product {
    font-size: 0.9rem;
    display: table;
    width: 100% !important;
    height: auto;
    text-align: left !important;
    margin-left: 0 !important;
}

.product h2 {
    padding: 0;
    margin: 0;
}

.product-square {
    padding-left: 5px;
}

.flats img {
    width: 90%;
    text-align: center;
    margin-left: 20px;
}

.service {
    display: block;
}

.service_img {
    font-size: 1em;
    width: 49%;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 20px;
}

.service_img img{
    width: 100%;
}

.employee {
    width: 50%;
}

.footer-col,  .footer-col a{
    background: #d1cfcfbd;
    color: black;
    text-decoration: none;
}

.footer-col a{
    color: black;
}

.footer-col:nth-child(2), .footer-col .address, .footer-col .email {
    display: none;
}

iframe {
    display: none;
}

.contact-col h3 {
    display: none;
}

.contact-col {
    display: inline-block;
    width: 50%;
    text-align: left;
    padding-left: 0;
    vertical-align: top;
}

.contact-col input:required, .contact-col textarea:required, .contact-col .button  {
    height: 30px;
    width: 230px;
}

.contact-col textarea:required {
    height: 50px;
}

.contact-col .button  {
    height: 40px;
    width: 230px;

}

